@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.project-category-buttons {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
}

body, button {
    font-family: 'Nunito', sans-serif;
}

.project-category-buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid #ccc; /* Slight border to buttons for definition */
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease, color 0.3s;
    /* Ensure the text is centered in the button */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.project-category-buttons button:hover {
    background-color: #dedede;
    color: #333; /* Darker text color on hover */
    transform: scale(1.05); /* Slightly enlarges the button on hover */
}

.project-category-buttons button:active {
    transform: scale(0.95); /* Slightly decreases size on click */
}

.project-category-buttons button.active {
    background-color: #007bff;
    color: white;
    border-color: #0056b3; /* Border color similar to background for active button */
}

.arrow-button {
    border-radius: 50%;
    background-color: #ffffff; /* A clean white background */
    color: #007bff; /* A blue color for the arrow to make it stand out */
    width: 50px;
    height: 50px;
    padding: 0;
    border: 2px solid #007bff; /* A blue border to match the arrow color */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* A subtle shadow for depth */
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.arrow-button:hover {
    background-color: #007bff; /* Change background to blue on hover */
    color: #ffffff; /* Change arrow to white on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increase shadow size for depth */
}

.left-arrow {
    left: 10px; /* Adjust to ensure visibility on small screens */
}

.right-arrow {
    right: 10px; /* Adjust to ensure visibility on small screens */
}

.projects-section {
    padding: 20px; /* Ensure there's padding around the entire section if desired */
}

.project-row {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; /* This will space out the projects equally */
    flex-wrap: wrap; /* Allows project cards to wrap to the next line */
}

.project {
    flex-grow: 1; /* Allows the project to grow and fill the parent */
    margin: 10px; /* Apply equal margin to all sides of the projects for symmetry */
    flex: 1 0 calc(50% - 20px); /* Adjust the 20px to double the margin */
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
    max-width: calc(50% - 20px); /* Keep max-width to limit how much space a project can take */
    min-width: 300px; /* Minimum width of each project card */
}

.project-image-container {
    overflow: hidden; /* Hide the overflowed images */
    position: relative; /* Set a stacking context */
}

.project-images {
    display: flex; /* Align images horizontally */
    transition: transform 0.5s ease-out; /* Smooth transition for the transform property */
    width: 100%; /* Full width to allow side by side image layout */
}

.project-image {
    min-width: 100%; /* Each image takes the full width of the container */
    transition: opacity 0.5s ease-in-out; /* Fade effect for changing images */
}

@media screen and (max-width: 768px) {
    .arrow-button {
        display: flex; /* Ensure arrow buttons are always visible */
        width: 40px; /* Smaller size for better mobile fit */
        height: 40px;
    }
}
