@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.project-category-buttons {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
  }
  body, button {
    font-family: 'Nunito', sans-serif;
  }
  
  .project-category-buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid #ccc; /* Slight border to buttons for definition */
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease, color 0.3s;
    /* Ensure the text is centered in the button */
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .project-category-buttons button:hover {
    background-color: #dedede;
    color: #333; /* Darker text color on hover */
    transform: scale(1.05); /* Slightly enlarges the button on hover */
  }
  
  .project-category-buttons button:active {
    transform: scale(0.95); /* Slightly decreases size on click */
  }
  
  .project-category-buttons button.active {
    background-color: #007bff;
    color: white;
    border-color: #0056b3; /* Border color similar to background for active button */
  }
  
  .arrow-button {
    border-radius: 50%;
    background-color: #ffffff; /* A clean white background */
    color: #007bff; /* A blue color for the arrow to make it stand out */
    width: 50px;
    height: 50px;
    padding: 0;
    border: 2px solid #007bff; /* A blue border to match the arrow color */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* A subtle shadow for depth */
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .arrow-button:hover {
    background-color: #007bff; /* Change background to blue on hover */
    color: #ffffff; /* Change arrow to white on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increase shadow size for depth */
  }
  
  /* Adjustments to the left and right positions */
  .left-arrow {
    left: 20px; /* Slightly away from the edge for spacing */
  }
  
  .right-arrow {
    right: 20px; /* Slightly away from the edge for spacing */
  }
  .projects-section {
    /* Ensure there's padding around the entire section if desired */
    padding: 20px;
  }
  
  .project-row {
    /* Remove any margin or padding that may affect the symmetry */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; /* This will space out the projects equally */
    flex-wrap: wrap; /* Allows project cards to wrap to the next line */
  }
  
  .project {
    flex-grow: 1; /* Allows the project to grow and fill the parent */
    /* Apply equal margin to all sides of the projects for symmetry */
    margin: 10px; /* Adjust this value to suit the desired gap */
    flex: 1 0 calc(50% - 20px); /* Adjust the 20px to double the margin */
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
    
    /* Keep max-width to limit how much space a project can take, and min-width to prevent them from getting too small */
    max-width: calc(50% - 20px); /* Adjust the 20px to double the margin */
    min-width: 300px; /* Minimum width of each project card */
  }
  
  .project-image-container {
    overflow: hidden; /* Hide the overflowed images */
    position: relative; /* Set a stacking context */
  }
  
  .project-images {
    display: flex; /* Align images horizontally */
    transition: transform 0.5s ease-out; /* Smooth transition for the transform property */
  }
  
  .project-image {
    min-width: 100%; /* Each image takes the full width of the container */
    transition: opacity 0.5s ease-in-out; /* Fade effect for changing images */
  }
  
  /* Add responsive styles if needed for smaller screens */
 
  @media screen and (max-width: 768px) {
    .project-row {
      /* flex-direction: column; This ensures projects are stacked vertically */
    }
  
    .project {
      flex: 0 0 100%; /* This makes the project take up the full width */
      max-width: 100%; /* Ensures the project does not exceed the container's width */
      margin: 10px 0; /* Provides vertical spacing between projects; remove side margins if any */
      box-sizing: border-box; /* Ensures that padding and border are included in the element's total width and height */
    }
  
    .project-image-container {
      width: 100%; /* Ensures the image container takes up the full width of the project */
    }
  
    .project-image {
      width: 100%; /* Ensures images stretch to the full width of their container */
      height: auto; /* Maintains the aspect ratio of the images */
    }
  }